#.>>AWS<<
AWS_ACCESS_KEY_ID=sua_access_key
AWS_SECRET_ACCESS_KEY=sua_secret_key
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_S3_BUCKET=bucket-teste-cli
AWS_S3_BUCKET_KEY_NOTION=raw/notion/notion.parquet

#.>>NOTION<<
NOTION_TOKEN=seu_token_do_notion
NOTION_DATABASE_ID=seu_database_id_do_notion

#.>>REDSHIFT<<
REDSHIFT_HOST=host.docker.internal
REDSHIFT_PORT=7100
REDSHIFT_DB=dev
REDSHIFT_USER=seu-user-do-redshift
REDSHIFT_PASSWORD=sua-password-do-redshift

#.>>SUPABASE<<